

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 24px;
}

.btn_place {
  width: 480px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
}
