.content {
  display: flex;
  height: calc(100vh - 88px);
  flex-direction: row;
  column-gap: 60px;
  margin: auto;
  padding-top: 120px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 24px;
}

.navigation_part {
  display: flex;
  flex-direction: column;
  width: 320px;
  row-gap: 80px;
}

.nav {
  display: flex;
  flex-direction: column;
}

.link {
  height: 47px;
  text-decoration: none;
  padding-top: 17px;
}

.description {
  opacity: 0.4;
}
