.section {
  height: 100%;
  width: 600px;
}

.title {
  margin: 0;
}

.ingredients {
  overflow: auto;
  max-height: calc(100vh - 288px - 15px);
  /*288px - высота всех остальных элементов, кроме ingredients
  15px- отступ снизу*/
  display: flex;
  flex-direction: column;
  row-gap: 40px;
   
}

.scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #2f2f37;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
